.game {
  position: relative;

  & .player {
    z-index: 10;
  }

  &>div {
    padding: calc(2px * #{$ratio});
    image-rendering: pixelated;
    width: $size;
    height: $size;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    transition: left 250ms ease-in-out, top 250ms ease-in-out;

    @for $i from 0 to 11 {
      &.column-#{$i} {
        left: calc(#{$i} * #{$size});
      }
    }

    @for $i from 0 to 20 {
      &.row-#{$i} {
        top: calc(#{$i} * #{$size});
      }
    }

    &.hit {
      z-index: 2;

      &:after {
        content: '-12';
        color: $health;
        position: absolute;
        left: calc(-5px * #{$ratio});
        top: calc(5px * #{$ratio});
        text-shadow: -2px -2px 0 $dark,
          2px -2px 0 $dark,
          -2px 2px 0 $dark,
          2px 2px 0 $dark,
          -2px 0px 0 $dark,
          2px 0px 0 $dark,
          0px -2px 0 $dark,
          0px 2px 0 $dark;
        animation: hit-value 500ms ease-in forwards;
      }
    }
  }

  & .player,
  & .skeleton,
  & .slime,
  & .bat,
  & .ghost,
  & .reaper,
  & .spider {
    cursor: pointer;
    background-size: calc(#{$size} / 32 * 28);
    animation: idle 250ms alternate infinite ease-in-out;
  }


}

@keyframes idle {
  from {
    transform: scale(1, calc(15/14));
  }

  to {
    transform: scale(calc(15/14), 1);
  }
}

@keyframes hit-value {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(calc(-1.2 * #{$size}));
    opacity: 0;
  }
}