.player {
  background-image: url(imgs/player.png);
}

.slime {
  background-image: url(imgs/slime.png);
}

.fence {
  background-image: url(imgs/fence.png);
}

.crate {
  background-image: url(imgs/crate.png);
}

.coin {
  background-image: url(imgs/coin.png);
}

.chest {
  background-image: url(imgs/chest.png);
}

.skeleton {
  background-image: url(imgs/skeleton.png);
}

.door {
  background-image: url(imgs/door.png);
}

.bat {
  background-image: url(imgs/bat.png);
}

.ghost {
  background-image: url(imgs/ghost.png);
}

.wall {
  background-image: url(imgs/wall.png);
}

.small-tree {
  background-image: url(imgs/tree-smalĺ.png);
}

.stone-doors {
  background-image: url(imgs/stone-door.png);
}

.health-potion {
  background-image: url(imgs/heatlh-potion.png);
}