$dark: #150940;
$blue-dark: #312a91;
$blie-ligh: #627af5;
$gold-dark: #f29849;
$gold-light: #f2c849;
$white: #f5f5f5;

$ratio: 1;
$size: calc(#{$ratio} * 32px);

* {
  margin: 0;
  font-family: Roboto;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
  text-decoration: none;
  color: currentColor;
  overflow: visible;
  font-weight: inherit;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  color: $gold-light;
  overflow-x: hidden;
}

body {
  background-color: $white;
}

.all {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.screen {
  background-color: $dark;
  width: calc(#{$size} * 11 * #{$ratio});
  height: calc(#{$size} * 20 * #{$ratio});
}